.App {
  min-height: 100vh;
  background-color: #fff;
}

.page {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-image {
  width: 100%;
  max-width: 1100px;
  height: auto;
  display: block;
}
